{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier", "prettier/@typescript-eslint"],
  "parserOptions": {
    "project": ["./.eslinttsconfigrc"]
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "BigInt": false
        }
      }
    ],
    "@typescript-eslint/no-loss-of-precision": "warn",
  }
}
