{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier", "prettier/@typescript-eslint"],
  "parserOptions": {
    "project": ["./.eslinttsconfigrc"]
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "_" }],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "BigInt": false
        }
      }
    ],
    "@typescript-eslint/no-loss-of-precision": "warn",
    "@typescript-eslint/no-non-null-assertion": 0
  }
}
