name: Tests and Checks

on: [push]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'

      - name: Install deps
        run: yarn

      - name: Lint
        run: yarn lint

      - name: pretty
        run: yarn pretty
  test: 
    - name: Checkout
        uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: 14
        cache: 'yarn'

    - name: Install deps
      run: yarn
    
    - name: Codegen
      run: yarn codegen

    - name: Run Matchstick tests
      run: yarn test
