name: Tests and Checks

on: [push]

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: "yarn"

      - name: Install deps
        # enabeling updating the lock file for a bug in yarn berry likely related to installing github
        run: YARN_ENABLE_IMMUTABLE_INSTALLS=false yarn

      - name: Lint
        run: yarn lint

      - name: pretty
        run: yarn pretty
  
  unit-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: "yarn"

      - name: Install deps
        # enabeling updating the lock file for a bug in yarn berry likely related to installing github
        run: YARN_ENABLE_IMMUTABLE_INSTALLS=false yarn

      - name: Prepare
        run: yarn prepare:docker

      - name: Codegen
        run: yarn codegen

      - name: Run Matchstick tests
        run: yarn test
  integration-test-core-pool:
    runs-on: ubuntu-20.04
    needs: unit-test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Start containers
        run: docker compose up -d
      
      - name: Sleep to allow graph-node to become accessible
        shell: bash
        run: sleep 45s

      - name: Generate Core Pool graphql types
        run: |
          docker exec -i subgraph-hardhat-node yarn workspace venus-subgraph run prepare:docker
          docker exec -i subgraph-hardhat-node yarn workspace venus-subgraph run codegen
          docker exec -i subgraph-hardhat-node yarn workspace venus-subgraph run create:docker
          docker exec -i subgraph-hardhat-node yarn workspace venus-subgraph run deploy:docker
          sleep 5s
          docker exec -i subgraph-hardhat-node yarn workspace venus-subgraph run generate-subgraph-types
      
      - name: Run Core Pool integration tests
        run: |
          docker exec -i subgraph-hardhat-node yarn workspace venus-subgraph run test:integration --bail
      
      - name: Stop containers
        if: always()
        run: |
          docker compose down -v
          docker system prune -f -a --volumes

  integration-test-isolated-pools:
    runs-on: ubuntu-20.04
    needs: unit-test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Start containers
        run: docker compose up -d
      
      - name: Sleep to allow graph-node to become accessible
        shell: bash
        run: sleep 45s

      - name: Generate Isolated Pools graphql types
        run: |
          docker exec -i subgraph-hardhat-node yarn workspace isolated-pools-subgraph run prepare:docker
          docker exec -i subgraph-hardhat-node yarn workspace isolated-pools-subgraph run codegen
          docker exec -i subgraph-hardhat-node yarn workspace isolated-pools-subgraph run create:docker
          docker exec -i subgraph-hardhat-node yarn workspace isolated-pools-subgraph run deploy:docker
          sleep 5s
          docker exec -i subgraph-hardhat-node yarn workspace isolated-pools-subgraph run generate-subgraph-types
      
      - name: Run Isolated Pools integration tests
        run: |
          docker exec -i subgraph-hardhat-node yarn workspace isolated-pools-subgraph run test:integration --bail
      
      - name: Stop containers
        if: always()
        run: |
          docker compose down -v
          docker system prune -f -a --volumes

  integration-test-governance:
    runs-on: ubuntu-20.04
    needs: unit-test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Start containers
        run: docker compose up -d
      
      - name: Sleep to allow graph-node to become accessible
        shell: bash
        run: sleep 45s
      
      - name: Generate Governance graphql types
        run: |
          docker exec -i subgraph-hardhat-node yarn workspace venus-governance-subgraph run prepare:docker
          docker exec -i subgraph-hardhat-node yarn workspace venus-governance-subgraph run codegen
          docker exec -i subgraph-hardhat-node yarn workspace venus-governance-subgraph run create:docker
          docker exec -i subgraph-hardhat-node yarn workspace venus-governance-subgraph run deploy:docker
          sleep 5s
          docker exec -i subgraph-hardhat-node yarn workspace venus-governance-subgraph run generate-subgraph-types

      - name: Run Governance integration integration tests
        run: |
          docker exec -i subgraph-hardhat-node yarn workspace venus-governance-subgraph run test:integration --bail

      - name: Stop containers
        if: always()
        run: |
          docker compose down -v
          docker system prune -f -a --volumes
